<main class="contenedor">
    <form action="/editar-perfil" method="POST" class="default-form" enctype="multipart/form-data">

        <div class="campo">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" name="nombre" placeholder="Tu nombre" value={{usuario.nombre}} >
        </div>

        <div class="campo">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Tu email" value={{usuario.email}} >
        </div>

        <div class="campo">
            <label for="password">Passowrd</label>
            <input id="password" type="password" name="password" placeholder="Tu password" autocomplete="false">
        </div>

        <div class="campo">
            <label for="imagen">Imagen</label>
            <input id="imagen" type="file" name="imagen" placeholder="Tu imagen de perfil">
            <img src="/uploads/perfiles/{{usuario.imagen}}" alt="Usuario imagen" class="admin-perfil">
        </div>

        <div class="campo">
            <input type="submit" class="btn btn-azul" value="Guardar Cambios">
        </div>
    </form>
</main>